body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: radial-gradient(#e2dbfd, #c3dcfd 70%);

  font-family: freight-sans-pro, Arial, sans-serif;

  --nav-margin: 24px;
}
.nav {
  font-weight: 500;
  font-style: italic;
  color: #426282;
}
hr {
  border: 0.5px solid currentColor;
  margin: 1em 0;
}
.header-item {
  position: fixed;
  margin-top: var(--nav-margin);
  z-index: 999;
  cursor: pointer;
}
#mainHeader {
  margin-left: var(--nav-margin);
  top: 0;
  left: 0;
}
#mainHeader:hover {
  font-weight: 600;
}
#menu-container {
  margin-right: var(--nav-margin);
  top: 0;
  right: 0;
  text-align: right;
}
#menu-container:hover {
  font-weight: 600;
}
#menu-container:hover .menu-content {
  visibility: visible;
  opacity: 1;
}
.menu-content {
  font-weight: 500;
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s opacity;
  padding-bottom: 2em; /* give mouse a little wiggle room */
  padding-left: 2em; /* give mouse a little wiggle room */
}
.menu-content a {
  color: #426282;
  padding-top: 16px;
  display: block;
  text-decoration: none;
}
.menu-content a:hover {
  color: inherit;
  font-weight: 600;
}
.page-footer {
  position: fixed;
  bottom:0;
  left: 0;
  width: 100%;
  margin-bottom: var(--nav-margin);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  cursor: default;
}
.nav .testimony {
  display: flex;
  flex-direction: column;
}
.btn {
  display: inline-block;
  border-radius: 5%;
  /* padding: 0.5em;
  margin: -0.5em; */
  color: #426282;
  text-align: left;
  transition: 0.5s background-color;
  cursor: pointer;
}
.btn:hover {
  /* background-color: rgba(255, 255, 255, .5); */
  color: inherit;
  font-weight: 600;
}
.testimonyBtn {
  margin-left: calc(var(--nav-margin) - 0.5em);
}
#socials, #socials:hover {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 180px;
  margin-right: var(--nav-margin);
}
/* .hover-image, #socials:hover .normal-image {
  display: none;
}
#socials:hover .hover-image {
  display: inline;
} */
#directions {
  position: absolute;
  top: 0em;
  left: 0em;
  width: 100%;
  height: 100%;
  background: radial-gradient(#e2dbfd, #c3dcfd 100%);
  z-index: 997;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-style: italic;
  color: #426282;
  visibility: visible;
  opacity: 1;
}
#directions * {
  margin: 1em 1em;
}
#main-container {
  position: absolute;
  top: 0em;
  left: 0em;
  width: 100%;
  height: 100%;
}
.testimonial {
  behavior: url(PIE.htc); /* remove if you don't care about IE8 */
  width: 300px;
  height: 300px;
  overflow: hidden;
}
.testimonialContainer {
  border-radius: 50%;
  box-shadow: 0px 0px 100px rgba(255,255,255,0.95);
  border: 1px solid rgba(255,255,255,0.25);
  /* box-shadow : inset 0 15px 25px rgba(#fff, .2),inset 0 20px 15px rgba(#ddd, .3); */
}
.testimonialImage {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: blur(40px);
  -moz-filter: blur(40px);
  -o-filter: blur(40px);
  -ms-filter: blur(40px);
  filter: blur(40px);
  cursor: pointer;
}
.testimonialImage:hover {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}
#cursorTextContainer {
  position: absolute;
  display: none;
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  z-index: 1;
  color: #ffffff;
  text-shadow: 0px 0px 8px #000000;
}
#fadeScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 998;
  visibility: hidden;
}
#memorial-scene {
  position: absolute;
  top: 0em;
  left:-999em;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#return_btn {
  position: fixed;
  margin-top: calc(var(--nav-margin) + 2em);
  margin-left: var(--nav-margin);
  visibility: hidden;
}
