<html lang="en">

<head>
  <% include ../helpers/head %>
</head>

<body style="margin: 0; padding: 0; width: 100%; height: 100%; max-width: 100%;">
  <div class="page-header">
    <% include ../helpers/menu %>
  </div>

  <iframe id="form" style="width: 100%; height: 100%; border: 0;"
    src="https://form.cv19memorial.org/lang/en"></iframe>

  <!--
  <div class="typeform-widget" data-url="https://cv19memorial.typeform.com/to/HtGT8m" data-transparency="100"
    data-hide-headers=true data-hide-footer=true style="width: 100%; height: 800px;"></div>
  <script> (function () { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm", b = "https://embed.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "embed.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })() </script>
  -->
</body>

</html>