<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <% include ../helpers/navbar %>
    <h1>Submission Page</h1>
  </div>

  <p id="demo">
    Submit Your Memorial
  </p>

  <button class="btn btn-default" type="button" onclick="myFunction()">
    Try it
  </button>

  <button onClick="handleSignIn()">Login</button>

  <h2>Posts</h2>
  <!-- <form onSubmit="handleMessageFormSubmit()" action="#">
    Name:<br>
    <input id="post-title"><br>
    Message:<br>
    <textarea id="post-body"></textarea><br>
    <button>Submit</button>
  </form>

  <div class="error-message-post"></div>

  <div id="post-listing"></div> -->


</body>

</html>