<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <div class="page-header">
    <% include ../helpers/navbar %>
    <h1>Healing Voices</h1>
  </div>

  <p id="demo">
    Filler filler filler 
  </p>


</body>

</html>