<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="https://use.typekit.net/kaq5whx.css">
  <link rel="stylesheet" href="/css/main_env.css">
  <link rel="stylesheet" href="/css/memorial_interior.css">
  <script src="/js/three/build/three.min.js"></script>
  <script src="/js/three/build/OrbitControls.js"></script>
  <% include ../helpers/head %>
</head>

<body>
  <div id="mainHeader" class="nav header-item">cv19memorial</div>
  <div id="menu-container" class="nav header-item">
    <div id="menu-btn">menu</div>
    <div class="menu-content">
      <a href="/about">about</a>
      <a href="/healingvoices">healing voices</a>
      <a href="/media">media</a>
      <!-- <hr>
        <a href="#" style="padding-top:0px" >español</a> -->
    </div>
  </div>
  <% include ../helpers/footer %>
  <div id="fadeScreen">
    <div class="nav" id="return_btn">return</div>
  </div>
  <div id="directions">
    <div>
      <p>drag with one finger to rotate, drag with two fingers to pan, and pinch to move in and out of the scene.</p>
    </div>
    <div class="btn">continue</div>
  </div>
  <p id="cursorTextContainer"></p>
  <div id="main-container"></div>
  <div id="memorial-scene">
    <div id="overlay">
      <div id="content-container">
        <div id="testimony__info">
          <div class="personal__info"></div>
          <div class="testimony__type"></div>
        </div>
        <div id="testimony_img"></div>
        <div id="testimony-wrapper">
        </div>
      </div>
    </div>
    <div id="world"></div>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <script src="/js/hdriBackground.js"></script>
  <script src="/js/memorial.js"></script>
  <script type="module" src="/js/main_3D.js"></script>
</body>

</html>