<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link href='/fonts/stylesheet.css' rel='stylesheet' type='text/css'>
		<style>
			body {
				background: radial-gradient(#e2dbfd, #c3dcfd 70%);
        --nav-margin: 24px;
			}
      .header-item{
        position: fixed;
        margin-top: var(--nav-margin);
        z-index: 999;
        font-family: freightsans_proSBdIt;
        color: #426282;
        cursor: default;
      }
      #mainHeader {
        margin-left: var(--nav-margin);
        top: 0;
        left: 0;
      }
      #menu-container {
        margin-right: var(--nav-margin);
        top: 0;
        right: 0;
        text-align: right;
      }
      #menu-container:hover .menu-content {
        display: block;
      }
      .menu-content {
        font-family: freightsans_promedium_italic;
        display: none;
      }
      .menu-content a {
        color: #426282;
        padding-top: 16px;
        display: block;
      }
      .menu-content a:hover {
        color: inherit;
        text-decoration: none;
      }
      .page-footer {
        position: fixed;
        bottom:0;
        left: 0;
        width: 100%;
        margin-bottom: var(--nav-margin);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        z-index: 999;
        cursor: default;
      }
      #testimonyBtn {
        border-radius: 2%;
        background-color: rgba(255, 255, 255, .5);
        width: 200px;
        padding: 13px 0px;
        color: #426282;
        text-align: center;
        margin-left: var(--nav-margin);
        font-family: freightsans_proSBdIt;
      }
      #socials {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 180px;
        margin-right: var(--nav-margin);
      }
			.testimonial {
    		behavior: url(PIE.htc); /* remove if you don't care about IE8 */
				width: 300px;
				height: 300px;
				overflow: hidden;
			}
			.testimonialContainer {
        border-radius: 50%;
				box-shadow: 0px 0px 100px rgba(255,255,255,0.95);
				border: 1px solid rgba(255,255,255,0.25);
        /* box-shadow : inset 0 15px 25px rgba(#fff, .2),inset 0 20px 15px rgba(#ddd, .3); */
			}
			.testimonialImage {
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				-webkit-filter: blur(40px);
			  -moz-filter: blur(40px);
			  -o-filter: blur(40px);
			  -ms-filter: blur(40px);
			  filter: blur(40px);
			}
			.testimonialImage:hover {
				-webkit-filter: blur(10px);
				-moz-filter: blur(10px);
				-o-filter: blur(10px);
				-ms-filter: blur(10px);
				filter: blur(10px);
			}
			#cursorTextContainer {
				position: absolute;
				visibility: hidden;
        font-family: freightsans_promedium_italic;
        font-size: 14px;
				z-index: 1;
				color: #ffffff;
				text-shadow: 0px 0px 8px #000000;
			}
      #fadeScreen {
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0);
				z-index: 1;
				visibility: hidden;
			}
      #close_btn {
        position: absolute;
        top: 0;
        left: 0;
        padding: 1% 0% 0% 1%;
        width: 3%;
				visibility: hidden;
      }
		</style>
    <% include ../helpers/head %>
  </head>
  <body>
    <div id="mainHeader" class="header-item">cv19memorial</div>
    <div id="menu-container" class="header-item">
      <div id="menu-btn">menu</div>
      <div class="menu-content">
        <a href="#">about</a>
        <a href="#">healing voices</a>
        <a href="#">media</a>
        <hr>
        <a href="#" style="padding-top:0px" >español</a>
      </div>
    </div>
    <div class="page-footer">
      <div id="testimonyBtn">Submit your testimony</div>
      <div id="socials">
        <a href="https://twitter.com/memorialcv19"><img src="/images/icons/twitter_icon.png"></a>
        <a href="https://www.facebook.com/cv19memorial"><img src="/images/icons/facebook_icon.png"></a>
        <a href="https://www.instagram.com/cv19memorial/"><img src="/images/icons/insta_icon.png"></a>
        <a href="mailto:info@cv19memorial.org"><img src="/images/icons/mail_icon.png"></a>
      </div>
    </div>
    <div id="fadeScreen">
      <image src="images/icons/close_btn.png" id="close_btn">
    </div>
    <p id="cursorTextContainer"></p>
    <div id="container">
		</div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="module">

      import * as THREE from '/js/three/build/three.module.js';

      import { TrackballControls } from '/js/three/jsm/controls/TrackballControls.js';
      import { TWEEN } from '/js/three/jsm/libs/tween.module.min.js';
      import { CSS3DRenderer, CSS3DSprite } from '/js/three/jsm/renderers/CSS3DRenderer.js';

      var camera, scene, renderer;
      var controls;

      var particlesTotal = 50;
      var objects = [];
      var animationDirections = [];
      var animateBbls = true;
      var lastCamPos;

      var zIndex;

      var toolTipTextContainer = document.getElementById("cursorTextContainer");
      var sceneContainer = document.getElementById("container");
      var fadeToDiv = document.getElementById("fadeScreen");
      var closeBtn = document.getElementById("close_btn");

      init();
      animate();

      window.onload = function() {
        sceneContainer.addEventListener("mouseover", function (event) {
          onTestimonialMouseIn(event);
        });
        sceneContainer.addEventListener("mouseout", function (event) {
          onTestimonialMouseOut(event);
        });
        sceneContainer.addEventListener("click", function (event) {
          onTestimonialClick(event);
        });
        closeBtn.addEventListener("click", function (event) {
          fadeModal("out");
        });
      }

      function init() {
        camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 1, 5000 );
        camera.position.set( 600, 400, 5000 );
        camera.lookAt( 0, 0, 0 );

        scene = new THREE.Scene();

        $.ajax({
          url: '/data/cv19memorial _english_responses.csv',
          dataType: 'text',
        }).done(createTestimonial);

        renderer = new CSS3DRenderer();
        renderer.setSize( window.innerWidth, window.innerHeight );
        sceneContainer.appendChild( renderer.domElement );

        controls = new TrackballControls( camera, renderer.domElement );

        window.addEventListener( 'resize', onWindowResize, false );
      }

      function animate() {
        requestAnimationFrame( animate );

        controls.update();
        if(animateBbls) {
          animateBubbles();
        }
        TWEEN.update();
        renderer.render( scene, camera );

      }

      function onWindowResize() {

        camera.aspect = window.innerWidth / window.innerHeight;
        camera.updateProjectionMatrix();

        renderer.setSize( window.innerWidth, window.innerHeight );

      }

      function createTestimonial(data) {
        var allRows = data.split(/\r?\n|\r/);
        for(var i = 0; i < allRows.length; i ++) {
          var testimonial = allRows[i].match(/(".*?"|[^",]+)(?=\s*,|\s*$)/g);
          if(testimonial){
            var name = testimonial[0];
            var testimonialText = testimonial[4].replace(/['"]+/g, '');
            var testimonialImg = testimonial[5].substring(testimonial[5].lastIndexOf("/") + 1, testimonial[5].length);

            var testimonial = document.createElement('div');
            testimonial.className = 'testimonial testimonialContainer';

            var image = document.createElement('div');
            image.className = 'testimonial testimonialImage';
            image.style.backgroundImage = 'url(/images/portraits/' + testimonialImg + ')';

            var text = document.createElement('span');
            text.innerHTML = name;
            text.className = 'tooltiptext';

            testimonial.appendChild(image);
            testimonial.appendChild(text);

            var object = new CSS3DSprite(testimonial);
            object.position.x = Math.random() * 4000 - 2000,
            object.position.y = Math.random() * 4000 - 2000,
            object.position.z = Math.random() * 4000 - 2000;
            scene.add( object );

            objects.push( object );

            var bubbleDirection = {
              x : (Math.random() * .6) - .4,
              y : (Math.random() * .6) - .4,
              z : (Math.random() * .6) - .4
            }

            animationDirections.push(bubbleDirection);
          }
        }
      }

      function animateBubbles() {
        for (var i = 0; i < objects.length; i ++) {
          if (objects[i].position.x > 2000 || objects[i].position.x < -2000 ) {
            animationDirections[i].x = -animationDirections[i].x;
          }
          if (objects[i].position.y > 2000 || objects[i].position.y < -2000 ) {
            animationDirections[i].y = -animationDirections[i].y;
          }
          if (objects[i].position.z > 2000 || objects[i].position.z < -2000 ) {
            if (zIndex == null) {
              zIndex = i;
            }
            animationDirections[i].z = -animationDirections[i].z;
          }

          objects[i].position.x += animationDirections[i].x;
          objects[i].position.y += animationDirections[i].y;
          objects[i].position.z += animationDirections[i].z;
        }

        // if (zIndex) {
        //   console.log("object #" + zIndex + " z position is now " + objects[zIndex].position.z);
        // }
      }

      function onTestimonialMouseIn(evt) {
        if(evt.target &&  evt.target.className == "testimonial testimonialImage"){
          var testimonialContainer = evt.target.parentNode;
          var testimonialText = testimonialContainer.childNodes[1];

          toolTipTextContainer.innerHTML = testimonialText.innerHTML;
          toolTipTextContainer.style.top = evt.clientY + "px";
          toolTipTextContainer.style.left = evt.clientX + "px";
          toolTipTextContainer.style.visibility = "visible";
        }
      }

      function onTestimonialMouseOut(evt) {
        if(evt.target &&  evt.target.className == "testimonial testimonialImage"){
          toolTipTextContainer.innerHTML = "";
        }
      }

      function onTestimonialClick(evt) {
        if(evt.target &&  evt.target.className == "testimonial testimonialImage"){
          var testimonialContainer = evt.target.parentNode;
          var testimonialIndex = Array.from(testimonialContainer.parentElement.children).indexOf(testimonialContainer);

          animateBbls = false;
          lastCamPos = camera;
					beginTestimonialTransition(objects[testimonialIndex]);
        }
      }

      function beginTestimonialTransition(testimonial) {
				var position = controls.target;
				var target = testimonial.position;
				var tween = new TWEEN.Tween(position).to(target, 500);

        toolTipTextContainer.innerHTML = "";

				tween.onUpdate(function(){
				  controls.target = position;
				});

				tween.onComplete(function(){
				  zoomTestimonial("in", target);
					fadeModal("in");
				});

				tween.start();
			}

			function zoomTestimonial(direction, target) {
				var cam = camera.position;
				var target =  direction == "in" ? target : { x: target.x, y: target.y, z: 1500 };
				var zTween = new TWEEN.Tween(cam).to(target, 1000);

				zTween.onUpdate(function(){
					camera.position.z = cam.z;
				});

				zTween.start();
			}

			function fadeModal(direction) {
				var currentOpacity = { percentage : direction == "in" ? 0 : 1 };
				var transitionOpacity = { percentage : direction == "in" ? 1 : 0 };
				var fadeTween = new TWEEN.Tween(currentOpacity).to(transitionOpacity, 1100);

				fadeTween.onUpdate(function(){
					fadeToDiv.style.backgroundColor = 'rgba(0, 0, 0, ' + currentOpacity.percentage + ')';
				});

				if (direction == "in") {
					fadeToDiv.style.visibility = 'visible';
					fadeTween.start();
					fadeTween.onComplete(function() {
						closeBtn.style.visibility = 'visible';
					});

				} else {
					closeBtn.style.visibility = 'hidden';
					zoomTestimonial("out", lastCamPos);
					fadeTween.start();
					fadeTween.onComplete(function() {
						fadeToDiv.style.visibility = 'hidden';
            animateBbls = true;
					});
				}
			}
      
    </script>
  </body>
</html>
