<html lang="en">

<head>
  <% include ../helpers/head %>
  <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>

</head>

<body>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">

    <h1>cv19 memorial</h1>
  </div>

  <div class="page-footer">
    <% include ../helpers/navbar %>
  </div>

</body>

</html>