<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/kaq5whx.css">
    <link rel="stylesheet" href="/css/underConstruction.css">
    <% include ../helpers/head %>
  </head>
  <body>
    <div id="mainHeader" class="nav header-item">cv19memorial</div>
    <div id="menu-container" class="nav header-item">
      <div id="menu-btn">menu</div>
      <div class="menu-content">
        <a href="#">about</a>
        <a href="#">healing voices</a>
        <a href="#">media</a>
        <hr>
        <a href="#" style="padding-top:0px" >español</a>
      </div>
    </div>
    <div class="nav page-footer">
      <div id="testimonyBtn">Submit your testimony</div>
      <div id="socials">
        <a href="https://twitter.com/memorialcv19"><img src="/images/icons/twitter_icon.png"></a>
        <a href="https://www.facebook.com/cv19memorial"><img src="/images/icons/facebook_icon.png"></a>
        <a href="https://www.instagram.com/cv19memorial/"><img src="/images/icons/insta_icon.png"></a>
        <a href="mailto:info@cv19memorial.org"><img src="/images/icons/mail_icon.png"></a>
      </div>
    </div>
    <div id="main-container">
      <div id="overlay">
  			<div id="content-container">
          <div class="message-container">
            <img src="images/logo/construction_msg.png">
          </div>
  			</div>
  		</div>
  		<div id="world"></div> <!-- panno to come -->
    </div>
    <script src="build/three.min.js"></script>
    <script src="build/OrbitControls.js"></script>
    <script src="/js/underConstruction_hdri.js"></script>
  </body>
</html>
