<html lang="<%= locale %>">

<head>
    <% include ../helpers/head %>
</head>

<body>
    <div class="page-header">
        <% include ../helpers/menu %>
    </div>

    <div class="hv-post">
        <h1>Valerie Smith</h1>
        <h4>April 27, 2020</h4>

        <p>
            On Monday April 27th 2020, we spoke with Valerie Smith. Valerie is an Interfaith Reverend-in-training, a
            certified Death Doula, and the creator behind Your Neighborhood Death Doula, an audio guide to death and
            grieving in isolation and pandemic — with weekly talks, meditations, art and writing prompts, rituals,
            poetry,
            and questions for navigating loss during Covid-19.
        </p>

        <br><br>

        <audio controls>
            <source src="../audio/Valerie_Smith_4_27_20_full_interview02.mp3" type="audio/mpeg">
            Your browser does not support the audio tag.
        </audio>

        <br><br>

        <div class="container">
            <img src="../images/healing-voices/Healing_Voices_Post_1.jpg" alt="Picture of Valerie Smith"
                class="hv-card-image">
            <img src="../images/healing-voices/Healing_Voices_Post_2.jpg" alt="Second Picture of Valerie Smith"
                class="hv-card-image">
            <img src="../images/healing-voices/Healing_Voices_Post_3.jpg" alt="Third Picture of Valerie Smith"
                class="hv-card-image">
        </div>
    </div>


    <div class="page-footer">
        <% include ../helpers/footer %>
    </div>
</body>

</html>