<html lang="en">

<head>
  <% include ../helpers/head %>
</head>

<body>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <div class="page-header">
    <% include ../helpers/navbar %>
  </div>

  <h1>Our Vision</h1>
  <p>
    You are viewing our beta site where we're collecting testimonies, sharing information about ourselves, and a vision
    of our memorial. We are working tirelessly on the development of this platform, where we will begin to publish
    stories entrusted to us.<br><br>


    Our vision is to create a public memorial made up of intimate altars. Anyone is able to visit and view a collective
    memorial by using arrow buttons to move through a virtual, 3D space. The space will hold altars created by
    contributors and visitors to the site can search for specific altars, or view "collections" by selecting from a set
    of tags.<br><br>

    Those interested in creating an "altar" may submit information about their loved ones via the submission form,
    selecting if they would like their memorial content to be public or private, with password protection to be shared
    with close family and friends. The content will be reviewed by one of our collective members before being uploaded
    to the website, and contributors will be able to review their submission before it goes live. At an altar,
    contributors can "place" mementos or gifts, by uploading content, such as text or visuals, or selecting from a
    library of candles and flowers.
  </p>
  <span>Para español, pulse aquí.</span>

</body>

</html>