<meta charset="UTF-8">
<title>cv19 memorial</title>
<link rel="stylesheet" href="https://use.typekit.net/kaq5whx.css">


<!-- First we import our css files -->

<!-- bootstrap css -->
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

<!-- font awesome css -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Lato|Noto+Sans+JP&display=swap" rel="stylesheet"> -->

<!-- this app's own css -->
<link rel="stylesheet" type="text/css" href="css/main_env.css"/>
<link rel="stylesheet" type="text/css" href="css/main_page.css"/>



<!-- Next import js files -->

<!-- then bootstrap -->
<!-- <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> -->



<!-- Link to three.js library -->



<!-- then our app's own js file -->
<script src="js/main.js"></script>
