<nav>
  <a href="/" id="mainHeader" class="nav header-item">cv19memorial</a>
  <div id="menu-container" class="nav header-item">
    <div id="menu-btn">menu</div>
    <div class="menu-content">
      <a href="/about">about</a>
      <a href="/healingvoices">healing voices</a>
      <a href="/media">media</a>
      <hr>
      <a href="#">español</a>
    </div>
  </div>
</nav>
