<nav>
  <div class="scene-menu nav">
    <div class="main-header"><a href="/">cv19memorial</a></div>
    <div class="filter-menu"></div>
    <div class="site-menu">
      <span>menu</span>
      <div class="menu-content">
        <a href="/about">about</a>
        <a href="/healingvoices">healing voices</a>
        <a href="/media">media</a>
        <!-- <hr>
        <a href="#" style="padding-top:0px" >español</a> -->
      </div>
    </div>
  </div>
</nav>
