<!-- needs to be changed to menu -->
<div>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/healingvoices">Healing Voices</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/media">Media</a>
        </li>
    </ul>
</div>